body,
html {
	height: 100%;
	padding-top: 25px;
	width: 100%;
	margin: 0;
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
  }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

#map {
	width: 680px;
	height: 680px;
	float: left;
	z-index: 1;
}

#mapy {
	width: 100%;
	height: 100%;
	float: left;
	z-index: 1;
}

#rightside {
	width: 80%;
	height: 100%;
	position: fixed;
	left: 800px;
	overflow: auto;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

.tooltip {
	position: absolute;
	text-align: left;
    width: 140px;
	height: 75px;
	padding: 3px;
	font-size: 12px sans-serif;
	font-weight: bold;
	color: #000000;
	pointer-events: none;
	background-color:#ffffff;
	border: 2px solid #000000;
}

@font-face {
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
	background-color: #262626;
}


.toolsTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
